@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family:'Poppins',sans-serif;
}
body,html{
    min-height: 100vh;
}
main {
    min-height: 100%;
}


/** Navbar Here */
#logo {
    font-size: 2em;
    font-weight: 700;
}
#logo-img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}
.mybar {
    background-color: rgb(40,157,143);
    box-shadow:0 2.5px 2.5px 0 rgba(0,0,0,0.2);
}
.mybar a{
    color: #fff;
    padding-left: 1em;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
}
.bar-list a:hover {
    color: #2a9d8f;
    transition: 0.8s ease;
}
.divide {
    margin-top: 7px;
    height: 30px;
    width: 2px;
    background-color:#e3e3e3;
    display: inline-block;
}
#signup-btn {
    margin-top: 0.3em;
    font-size: 0.9em;
    color: rgb(108,99,255);
    background-color: #fff;
}
#signup-btn:hover {
    color: #f4a261;
    transition: 0.8s ease;
}

/** Landing Page */
main {
    min-height: 100%;
}
#bncc {
    width: 50% !important;
}
#bncc-seru {
    width: 100%;
    height: 80%;
}
.penampung {
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider { 
    height: 1px;
    width: 50em;
    background-color:#e3e3e3;
    display: inline-block;
}
.btn-topik {
    text-decoration: none;
    color: white;
    background-color: #2a9d8f;
}
.stick-footer {
    position: sticky;
    top: 100%;
}
.kartu-halaman img{
    object-fit: cover;
}
/** Profile Page */
.bg-light-blue {
    background-color: rgb(62, 112, 218);
}
.profile-card {
    width: 30rem;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto-profile {
    width: 15.5em;
    clip-path: circle();
    transform: translate(10%,0);
}
#namaUser{ 
    font-size: 2em;
    transform: translate(23%,-55%);
}
#emailUser{ 
    font-size: 2em;
    transform: translate(5%,-55%);
}

/** Post Page */
.post-card {
    max-width: 40rem;
    max-height: 22rem;
}
.post-card img{
    overflow: hidden;
    max-width:min-content;
    justify-content: center;
    object-fit: cover;
}


.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-body p {
    font-size: 13px
}

.media img {
    width: 40px;
    height: auto
}